{% extends '::base.html.twig' %}

{% block body -%}
    <link rel="stylesheet" href="{{ asset('static/css/map_coords.css') }}" type="text/css" media="all">

    <div>
        <h3>{{ entity.name }}</h3>
        {% for coord in entity.coords %}
            <div class="kp">
                <img src="/uploads/maps/coords/{{ entity.img }}_{{ coord.hash }}">
                <div>
                    Точка {{ loop.index + 1 }}<br/>
                    В квадрате {{ coord.c_name }}<br/>
                    С координатами <b>x: {{ coord.c_x }}, y: {{ coord.c_y }}</b>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
