{% extends '::base.html.twig' %}

{% block body -%}
    <script src="{{ asset('https://code.angularjs.org/1.3.3/angular.min.js') }}"></script>
    <script src="{{ asset('http://code.jquery.com/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('/static/js/ng_map.js') }}"></script>
    <script src="{{ asset('/static/js/ng_style.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('static/css/main.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('static/css/map_edit.css') }}" type="text/css" media="all">
<div ng-app="app" ng-controller="main">
    <h3>Добавление координат</h3>
    <form method="post" action="{{ path('app_map_save', {'id': entity.id}) }}">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Название:</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Карта:</th>
                <td>
                    <div id="main_el" ng-click="click($event)" >
                        <div ng-repeat="coord_y in array_y track by $index"
                             style="margin-top: {[coord_y]}px" class="display_x">
                            <div ng-bind="$index"></div>
                        </div>
                        <div ng-repeat="coord_x in array_x track by $index"
                             style="margin-left: {[coord_x]}px" class="display_y">
                            <div ng-bind="$index"></div>
                        </div>

                        <div ng-repeat="coord in coordinates track by $index" style="margin-top:{[coord.y-5]}px;margin-left:{[coord.x-5]}px;" class="coordinate">
                            <input type="hidden" name="coordx[{[$index]}]" value="{[coord.x]}" />
                            <input type="hidden" name="coordy[{[$index]}]" value="{[coord.y]}" />
                            <input type="hidden" name="coordname[{[$index]}]" value="{[coord.name]}" />
                        </div>
                        <img style="border: 1px solid black;" style-image ng-src="/uploads/maps/{{ entity.img }}" />
                    </div>
                    <table class="tab_coords">
                        <tr><td>Номер</td><td>Координаты</td><td>Квадрат</td></tr>
                        <tr ng-repeat="coord in coordinates track by $index">
                            <td>Точка {[$index+1]}</td>
                            <td>x: {[coord.x]}, y: {[coord.y]}</td>
                            <td>{[coord.name]}</td>
                            <td><a ng-click="delete($index)">Удалить</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Квадратов по X:</th>
                <td><input ng-model="sx" name="x" type="number" ng-init="sx = {{ entity.x }}" /></td>
            </tr>
            <tr>
                <th>Квадратов по Y:</th>
                <td><input ng-model="sy" name="y" type="number" ng-init="sy = {{ entity.y }}" /></td>
            </tr>
        </tbody>
    </table>
        <input type="submit" class="btn btn-success" value="Сохранить"/>
        </form>
</div>

{% endblock %}
