{% extends '::base.html.twig' %}

{% block body -%}
    <link rel="stylesheet" href="{{ asset('static/css/main.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('static/css/map_edit.css') }}" type="text/css" media="all">
        <h3>{{ entity.name }}</h3>
            <table class="record_properties">
                <tbody>
                <tr>
                    <td valign="top" rowspan="2">
                        <div id="main_el">
                            <img src="/uploads/maps/{{ entity.img }}_edit" width="600px;" />
                        </div>
                    </td>
                    <td valign="top">
                        <a target="_blank" href="{{ path('app_map_save_map', {'id': entity.id, 'source': 1}) }}" class="btn btn-success">Скачать исходное изображение</a>
                        <br />
                        <a target="_blank" href="{{ path('app_map_save_map', {'id': entity.id, 'source': 0}) }}" class="btn btn-success">Скачать изображение карты</a>
                        <br />
                        <a target="_blank" href="{{ path('app_map_save_coords', {'id': entity.id}) }}" class="btn btn-success">Скачать список координат</a>
                        <br /><br />
                        {% if(entity.coords|length) %}
                        <table class="tab_coords">
                            <tr>
                                <td class="s2">Номер</td>
                                <td class="s2">Координаты</td>
                                <td class="s2">Квадрат</td>
                            </tr>
                            {% for coords in entity.coords %}
                                <tr>
                                    <td class="s{{ (loop.index%2) ? '1' : '2' }}">Точка {{ loop.index + 1 }}</td>
                                    <td class="s{{ (loop.index%2) ? '1' : '2' }}">x: {{ coords.c_x }}, y: {{ coords.c_y }}</td>
                                    <td class="s{{ (loop.index%2) ? '1' : '2' }}">{{ coords.c_name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                            На карту не насены КП
                        {% endif %}
                        <br /><br />
                        <a href="{{ path('app_map_show', {'id': entity.id}) }}" class="btn btn-warning">Редактировать карту</a><br>
                        <a href="{{ path('app_map_index') }}" class="btn btn-danger">Вернуться к списку</a>
                    </td>
                </tr>
                </tbody>
            </table>

{% endblock %}
